<header>
    <img src="screenshots/nav.png" alt="">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/favorite-quotes">Favorite Qoutes</a></li>
            
        </ul>
    </nav>
</header>